<div class="container-fluid page">
    <!-- <div class="d-flex page__box p-3 mt-2">Mes analyses</div> -->
    <div class="container">
      <h2>....</h2>           
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>ID analyse</th>
            <th>Date</th>
            <th>Medecin</th>
            <th>Document</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>D134678</td>
            <td>2022-06-24</td>
            <td>Dr. Alsaoud Yassine</td>
            <td>
              <a href="https://www.w3schools.com/html/">
                <mat-icon class="icon">description</mat-icon> description
              </a>
            </td>
          </tr>
          <tr>
            <td>D134678</td>
            <td>2022-06-24</td>
            <td>Dr. Alsaoud Yassine</td>
            <td>
              <a href="https://www.w3schools.com/html/">
                <mat-icon class="icon">description</mat-icon> description
              </a>
            </td>
          </tr>
          <tr>
            <td>D134678</td>
            <td>2022-06-24</td>
            <td>Dr. Alsaoud Yassine</td>
            <td>
              <a href="https://www.w3schools.com/html/" >
                <mat-icon class="icon">description</mat-icon> description
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    
    </div>
    
</div>
