<div class="container-fluid page">
    <div class="container">
      <h2>....</h2>           
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>ID consultation</th>
            <th>Date</th>
            <th>Medecin</th>
            <th>Document</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cons of consultationData" >
            <td>{{cons.id}}</td>
            <td>{{cons.date}}</td>
            <td>{{cons.medecin.nom}} {{cons.medecin.prenom}}</td>
            <td>
              <a href="#">
                <mat-icon class="icon">description</mat-icon> {{cons.rapport}}
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    
    </div>
    
</div>

