<div class="container-fluid page">
    <div class="container">
      <h2>....</h2>           
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>ID consultation</th>
            <th>Date</th>
            <th>Medecin</th>
            <th>Document</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>D134678</td>
            <td>2022-06-24</td>
            <td>Dr. Alsaoud Yassine</td>
            <td>
              <a href="#">
                <mat-icon class="icon">description</mat-icon> description
              </a>
            </td>
          </tr>
          <tr>
            <td>D134678</td>
            <td>2022-06-24</td>
            <td>Dr. Alsaoud Yassine</td>
            <td>
              <a href="#">
                <mat-icon class="icon">description</mat-icon> description
              </a>
            </td>
          </tr>
          <tr>
            <td>D134678</td>
            <td>2022-06-24</td>
            <td>Dr. Alsaoud Yassine</td>
            <td>
              <a href="#" >
                <mat-icon class="icon">description</mat-icon> description
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    
    </div>
    
</div>

