<div class="row">
    <div class="col-md-4">
      <div class="card card-user">
        <div class="image text-center p-1">
          <img class="user-image" src="assets/user.jpg" alt="...">
        </div>
        <div class="card-body">
          <div class="author">
            <a href="#">
              <h5 class="title">Patient Name</h5>
            </a>
            <p class="description">
              Num patient
            </p>
            <hr>
            <p class="description">
                Num patient
            </p>
              <hr>
            <p class="description">
                Num patient
            </p>
              <hr>
          </div>
         
        </div>
        <div class="card-footer">
          <hr>
        
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Enfants :</h4>
        </div>
        <div class="card-body">
          <ul class="list-unstyled team-members">
            <li>
              <div class="row">
                <div class="col-md-2 col-2">
                  <div class="avatar">
                    <img  src="assets/user.jpg" alt="Circle Image"  class="user-image img-circle img-no-padding img-responsive">
                  </div>
                </div>
                <div class="col-md-7 col-7">
                  Enfant 01
                  <br />
                  <span class="text-muted">
                    <small>...</small>
                  </span>
                </div>
                
              </div>
            </li>
            <li>
              <div class="row">
                <div class="col-md-2 col-2">
                  <div class="avatar">
                    <img src="assets/user.jpg" alt="Circle Image" class="user-image img-circle img-no-padding img-responsive">
                  </div>
                </div>
                <div class="col-md-7 col-7">
                    Enfant 02
                  <br />
                  <span class="text-success">
                    <small>...</small>
                  </span>
                </div>
                
              </div>
            </li>
            <li>
              <div class="row">
                <div class="col-md-2 col-2">
                  <div class="avatar">
                    <img src="assets/user.jpg" alt="Circle Image" class="user-image img-circle img-no-padding img-responsive">
                  </div>
                </div>
                <div class="col-ms-7 col-7">
                    Enfant 03
                  <br />
                  <span class="text-danger">
                    <small>...</small>
                  </span>
                </div>
                
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="card card-user">
        <div class="card-header">
          <h5 class="card-title">Edit Profile</h5>
        </div>
        <div class="card-body">
          <form>
            <div class="row">
              <div class="col-md-5 pr-1">
                <div class="form-group">
                  <label>Num Patient</label>
                  <input type="text" class="form-control" disabled="" placeholder="patient ID" value="IF45679">
                </div>
              </div>
              <div class="col-md-3 px-1">
                <div class="form-group">
                  <label>CIN</label>
                  <input type="text" disabled class="form-control" placeholder="CIN" value="PBl2346">
                </div>
              </div>
              <div class="col-md-4 pl-1">
                <div class="form-group">
                  <label for="exampleInputEmail1">Email address</label>
                  <input type="email" class="form-control" placeholder="Email" value="ouami@gmail.com">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label>Prenom</label>
                  <input type="text" class="form-control" placeholder="Prenom" value="Sefiane">
                </div>
              </div>
              <div class="col-md-6 pl-1">
                <div class="form-group">
                  <label>Nom</label>
                  <input type="text" class="form-control" placeholder="Nom" value="Ouami">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Address</label>
                  <input type="text" class="form-control" placeholder="Home Address" value="EL Romana , Tetouan">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 pr-1">
                <div class="form-group">
                  <label>Telephone</label>
                  <input type="text" class="form-control" placeholder="telephone" value="+212610191055">
                </div>
              </div>
              <div class="col-md-4 px-1">
                <div class="form-group">
                  <label>Ville</label>
                  <input type="text" class="form-control" placeholder="ville" value="Tetouan">
                </div>
              </div>
              <div class="col-md-4 pl-1">
                <div class="form-group">
                  <label>Code Postal</label>
                  <input type="number" class="form-control" placeholder="ZIP Code">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Notes</label>
                  <textarea class="form-control textarea">Oh so, your weak rhyme You doubt I'll bother, reading into it</textarea>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="update ml-auto mr-auto">
                <button type="submit" class="btn btn-primary btn-round m-1">Modifier profile</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  
