<mat-nav-list>
    <div class="logo py-4">
      <img src="./assets/logo.svg" alt="Company Logo" />
       
    </div>
    <mat-divider></mat-divider>
    <h2 matSubheader class="mt-2 matSubheader">Espace patient</h2>
  
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/home">
      <mat-icon>bar_chart</mat-icon> Informations médicales
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">
      <mat-icon>account_box</mat-icon> Informations personnelles
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/analyse">
       <mat-icon>wallpaper</mat-icon> Mes analyses  
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/consultation">
      <mat-icon>touch_app</mat-icon> Mes consulations  
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/medicaments">
      <mat-icon>add_alert</mat-icon> Mes médicaments 
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/analyse">
      <mat-icon>reply_all</mat-icon> Se déconnecter 
    </a>
   
  </mat-nav-list>